<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.model.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="purchasing_list_id" jdbcType="INTEGER" property="purchasingListId" />
    <result column="is_pay" jdbcType="TINYINT" property="isPay" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, purchasing_list_id, is_pay
  </sql>
</mapper>